data/bam/*
data/bw/*
data/fastq/*
data/idr/*
data/indexes/*
data/narrowpeak/*
data/nohup.out/*
data/peaks/*
data/rdata/*
data/tmp/*
data/txt/*
analysis/bpnet/*
analysis/chrombpnet/*
analysis/figures/*
analysis/tmp/*
analysis/tsv/perturbs/accessibility/genomic/genomic_perturbs_atac_overlapping_motifs_1000bp_*
analysis/tsv/perturbs/accessibility/insilico/*.pkl
analysis/tsv/perturbs/binding/genomic/perturbs_1000bp_*
analysis/tsv/perturbs/binding/genomic/perturbs_200bp_*
